<template>
  <div class="customers container">
    <h1 class="header-page flow-text">Manage Customers</h1>
    <transition name="fade"> 
      <div v-if="messageSuccess" class="message-success teal accent-3">
        <span class="message-success__text">El cliente fue añadido correctamente</span><i class="material-icons">check_circle</i>
      </div>
    </transition>
    <transition name="fade"> 
      <div v-if="messageFailed" class="message-failed red darken-3">
        <span class="message-failed__text">Hubo un error inesperado</span>
      </div>
    </transition>
    <div class="row add-button"><div class="col s2 right"><a @click="toggleModal('add')" class="btn-floating btn-medium waves-effect waves-light red "><i class="material-icons">add</i></a></div></div>
    
    <table class="highlight">
        <thead>
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="customer in customers" :key="customer.id">
            <td v-text="customer.firstName"></td>
            <td v-text="customer.lastName"></td>
            <td v-text="customer.email"></td>
            <td>
              <button class="btn btn-floating waves-effect waves-light" @click="updateCustomer(customer)">
                <i class="material-icons">edit</i>
              </button>
            </td>
            <td>
              <button class="btn btn-floating waves-effect waves-light" @click="delModalCustomer(customer)">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          
        </tbody>
      </table>
      
      <add-modal></add-modal>
      <edit-modal ></edit-modal>
      <delete-modal></delete-modal>
  </div>
</template>

<script>
import axios from 'axios'
import AddModal from './AddModal'
import EditModal from './EditModal'
import DeleteModal from './DeleteModal'
import { mapState } from 'vuex'
export default {
  name: 'customers',
  components: {
    AddModal,
    EditModal,
    DeleteModal
  },
  computed: {
    ...mapState({
      // Lista de clientes
      customers: state => state.customers,
      // Mensajes de éxito y alerta
      messageSuccess: state => state.message.success,
      messageFailed: state => state.message.failed
    })
  },
  methods: {
    // Función para mostrar lista de clientes
    getCustomers () {
      axios.get('http://localhost:3000/users')
        .then(response => {
          if (response.status >= 200 && response.status < 400) {
            this.$store.commit('SHOW_CUSTOMERS', response.data)
          }
        })
        .catch(err => console.log(err))
    },
    // Función para mostrar u ocultar los 3 modales (se le pasa el valor correspondiente al modal que estemos manejando: add, edit, delete)
    toggleModal (action) {
      this.$store.commit('TOGGLE_MODAL', action)
    },
    // Función que muestra el modal para eliminar clientes y almacena en el store los datos del cliente específico que vamos a eliminar
    delModalCustomer (customer) {
      this.toggleModal('delete')
      // Mutación que almacena los datos del cliente a eliminar en el store
      this.$store.commit('DEL_CUSTOMER', customer.id)
    },
    // Función que permite actualizar los datos de un cliente y almacena en el store dicho cliente
    updateCustomer (customer) {
      this.toggleModal('edit')
      // Mutación que almacena en el store los datos del cliente específico
      this.$store.commit('UPDATE_CUSTOMER', customer.id)
    }
  },
  mounted () {
    // Ejecutamos la función getCustomers que nos muestra una lista de clientes almacenados en la BD
    this.getCustomers()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .header-page {
    text-transform: uppercase;
  }
  .add-button {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .message-success, .message-failed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    &__text {
      color: darken(#1DE9B6, 30%);
      margin-right: .3rem;
    }
  }
  .message-failed {
    &__text {
      color: #fff;
    }
  }
</style>

