<template>
  <transition name="fade">
    <section class="modal-form-wrapper" v-if="showModal">
        <div class="modal-form " >
          <header class="modal-form__header">
            {{ delActiveCustomer.id }}
            <div class="row valign-wrapper">
              <div class="col s10">
                <h4 class=" modal-form__header__title left">Eliminar Estudiante</h4>
              </div>
              <div class="col s2">
                <button @click="closeDeleteModal" class="modal-form__header__close right btn btn-small btn-floating" >
                  <i class="material-icons">close</i>
                </button>
              </div>
            </div>
          </header>
          <form class="modal-form__content row" @submit.prevent="deleteCustomer(delActiveCustomer.id)">
            <div class="input-field col s12">
              <p class="flow-text center">¿Estás seguro de eliminar al estudiante: <b>{{ delActiveCustomer.firstName }} {{ delActiveCustomer.lastName }}</b>.</p>
              <input  name="id" type="hidden" required>
            </div>
            <div class="input-field col s6 offset-s3">
              <button class="btn-large btn-floating left" type="submit">
                <i class="material-icons">check</i>
              </button>
              <button @click="closeDeleteModal" class="btn-large btn-floating right" type="button" >
                <i class="material-icons">close</i>
              </button>
            </div>
          </form>
        </div>
    </section>
  </transition>
</template>
<script>
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      // Variable que almacena un booleano para poder mostrar u ocultar el modal
      showModal: state => state.showModal.delete,
      // Datos del cliente que se quiere eliminar
      delActiveCustomer: state => state.delActiveCustomer
    })
  },
  methods: {
    closeDeleteModal () {
      this.toggleModal('delete')
    },
    deleteCustomer (id) {
      axios.delete(`http://localhost:3000/users/${id}`)
        .then(response => {
          this.getCustomers()
          this.toggleModal('delete')
        })
    },
    // Mostrar lista de clientes
    getCustomers () {
      axios.get('http://localhost:3000/users')
        .then(response => {
          if (response.status >= 200 && response.status < 400) {
            this.$store.commit('SHOW_CUSTOMERS', response.data)
          }
        })
        .catch(err => console.log(err))
    },
    // Función para mostrar u ocultar los 3 modales (se le pasa el valor correspondiente al modal que estemos manejando: add, edit, delete)
    toggleModal (action) {
      this.$store.commit('TOGGLE_MODAL', action)
    }
  }
}
</script>

