<template>
  <transition name="fade">
    <div class="modal-form-wrapper" v-if="showModal">
      <div class="modal-form container">
        <header class="row modal-form__header valign-wrapper">
          <div class="col s10"><h3 class="flow-text modal-form__header__title">Edit Customer</h3></div>
          <div class="col s2">
            <button @click="cancelEdit(editActiveCustomer)" class="modal-form__header__close right btn btn-small btn-floating "><i class="material-icons">close</i></button>
          </div>
        </header>
        <main class="row modal-form__content">
          <div class="row">
            <form id="formData" @submit.prevent="editCustomer" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate" v-model.lazy="editActiveCustomer.firstName">
                  <label class="active" for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">person</i>
                  <input id="icon_lastname" type="text" class="validate" v-model.lazy="editActiveCustomer.lastName">
                  <label class="active" for="icon_lastname">Last Name</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="icon_email" type="email" class="validate" v-model="editActiveCustomer.email">
                  <label class="active" for="icon_email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn-large btn-floating right" type="submit">
                    <i class="material-icons">save</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </transition>
</template>
<script>
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  data () {
    return {
      // Lista de clientes (no reactiva)
      infoCustomers: null
    }
  },
  computed: {
    ...mapState({
      // Variable que almacena un booleano para poder mostrar u ocultar el modal
      showModal: state => state.showModal.edit,
      // Datos del cliente que se quiere editar
      editActiveCustomer: state => state.editActiveCustomer,
      // Copia de los datos del cliente a editar
      beforeEditingCache: state => state.beforeEditingCache
    })
  },
  methods: {
    // Función para mostrar u ocultar los 3 modales (se le pasa el valor correspondiente al modal que estemos manejando: add, edit, delete)
    toggleModal (action) {
      this.$store.commit('TOGGLE_MODAL', action)
    },
    // Función para mostrar lista de clientes de la BD
    getCustomers () {
      axios.get('http://localhost:3000/users')
        .then(response => {
          if (response.status >= 200 && response.status < 400) {
            this.infoCustomers = response.data
          }
        })
        .catch(err => console.log(err))
    },
    // Función para editar datos del cliente
    editCustomer () {

      //Comprobamos que el email introducido no está duplicado

      let dataCustomer = this.infoCustomers.filter(customer => customer.email === this.editActiveCustomer.email)

      if ( dataCustomer.length === 0 || this.editActiveCustomer.email === this.beforeEditingCache.email) {
        axios.put(`http://localhost:3000/users/${this.editActiveCustomer.id}`, this.editActiveCustomer)
          .then(response => {
            // Una vez que agregamos un nuevo cliente, mostramos la nueva lista de clientes
            this.getCustomers()
            // Automáticamente cerramos el modal
            this.toggleModal('edit')
          })
      } else {
        alert('El email introducido ya se encuentra en nuestra base de datos...')
      }
    },
    // Función que cancela la edición del cliente (se le pasa el objeto con los datos del cliente: editActiveCustomer)
    cancelEdit (editActiveCustomer) {
      // En caso de cancelar la edición, devolvemos el valor de editActiveCustomer a su estado inicial. Para ello, asigno el valor de la copia que hicimos del cliente a editar 
      Object.assign(editActiveCustomer, this.beforeEditingCache)
      // Cerramos el modal de edición
      this.toggleModal('edit')
    }
  },
  created () {
    // Mostramos la lista de clientes
    this.getCustomers()
  }
}
</script>

