<template>
  <nav class="main-nav">
    <ul class="main-menu">
      <li class="main-menu__item">
        <router-link exact active-class="active" class="main-menu__link" :to="{ name: 'customers' }">Customers</router-link>
      </li>
      <li class="main-menu__item">
        <router-link exact active-class="active" class="main-menu__link" :to="{ name: 'about' }">About</router-link>
      </li>
    </ul>
  </nav>
</template>
<style lang="scss">
  .main-nav {
    background-color: #eee;

  }
  .main-menu {
    list-style: none;
    padding-left: .5rem;
    display: flex;

    &__item {
      // margin: 0 .3rem;
    }
    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #666;
      font-weight: 200;
      outline: none;
    }
    .active {
      color: red;
      font-weight: bold;
    }
  }
</style>
