<template>
  <div id="app">
    <main-nav></main-nav>
    <router-view/>
  </div>
</template>

<script>
import MainNav from './components/MainNav'
export default {
  name: 'App',
  components: {
    MainNav
  }
}
</script>

<style lang="scss">
  .header-page {
    // font-weight: 100;
    text-align: center;
    margin: 3rem 0;
  }
</style>
